<div class="container">
  <h3>Welcome to Specialty Food Products!</h3>
  <h4>Most Reviewed Product: <%= link_to Product.most_reviewed.name, product_path(Product.most_reviewed) %></h2>
  <h4>Most Recent Products Added:</h2>

  <% if Product.most_recent.any? %>
  <% @most_recent = Product.most_recent %>
  <div class="card-columns">
    <% @most_recent.each do |p| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to p.name, product_path(p) %></h3>
        <p>Rating: <%= p.average_rating %></p>
        <p class="card-text"><%= Faker::Coffee.notes %></p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
