// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  display: block;
}
label {
  display: block;
}

input[type="submit"]{
  margin-top: 2%;
}

select {
  display: block;
  width: 11rem;
}

fade {
    position: absolute;
    bottom: 0px;

    display: block;

    width: 100%;
    height: 50px;

    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
    100%);
}
